# Dependencies
node_modules/
package-lock.json

# Environment variables
.env

# Logs
*.log
logs/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Unnecessary files
index.html
howto.txt

# Server specific
monitor.sh
trakt_tokens.db

.claude
